body{
    background-color: rgb(251, 248, 244);
}
a{
    position: relative;
    left:70%;
    top: -20px;   
}
hr{
    position: relative;
    top: -10px; 
}
img{
    position: relative;
    left: 40%;
    top: -50px;
}


