
body{
    background-color: rgb(251, 248, 244);
}
header{
    background-color: antiquewhite;
}
button{
    position: relative;
    left: 85%; 
    background-color: ghostwhite; 
    border-radius: 10px; 
    color: #2196f3;
}
footer{
    background-color: black;
}
pre{
    color: gray;
}
.above{
    color: white;
}

